*{
    margin:0;
    padding:0;
}
body{
    font-family: sans-serif;
    background-image:url("https://cdn.wallpapersafari.com/53/25/wHIXEN.jpg");
}

nav {
    display: flex;
    background-color: #cfde8e;
    justify-content: space-between;
    margin:0px 20px 0px 20px;
    padding: 20px;    
    color:rgb(119, 159, 192);
    border-radius:0px 0px 10px 10px ;
}

nav .logo{
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;

}

nav ul {
    display:flex;
    list-style: none;
    width: 30%;
    justify-content: space-between;
    font-size: 14px;
    
    
}

nav ul li a {
    color:black;
    font-size: 12px;
    font-family: 'Fredoka One', cursive;
}

nav ul li a:hover{
    color:rgb(255, 161, 255);
}

#Home {
    display: flex;
    border-left: 1px black solid ;
    justify-content: space-around;
    padding:200px;
}








/*Unuk media seperti hp tablet dkk*/
@media screen (max-width: 500px){
    nav ul {
        width: 45%;
        font-size::before;

    }    
}